################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BLE.Business/obj
/.vs
/OPT.Entities/obj
/OPT.Business/obj
/OPT.UnitTests/bin/Debug
/OPT.Entities/bin/Debug/net5.0/ref
/OPT.Entities/bin/Debug/net5.0
/BLE.Business/bin/Debug/net5.0
