################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BLE.Business/obj
/.vs
/OPT.Entities/obj
